<!DOCTYPE html>
<html>
<head>
    <title>Add a New Menu</title>
    <link rel="stylesheet" href="../public/style.css" />
</head>
<body>
    <h1>Add a New Menu</h1>
    <form action="/menus" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>
        <label for="starter">Starter:</label>
        <input type="text" id="starter" name="starter" required><br>
        <label for="mainCourse">Main Course:</label>
        <input type="text" id="mainCourse" name="mainCourse" required><br>
        <label for="dessert">Dessert:</label>
        <input type="text" id="dessert" name="dessert" required><br>
        <button type="submit">Add Menu</button>
    </form>
    <a href="/menus">Back to Menus</a>
</body>
</html>
