

<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Welcome to <%= title %></h1>
    <a href="/books">View All Books</a>
    <a href="/books/add">Add a New Book</a>

    <img src="./stock.jpg" alt="Stock Image">
</body>
</html>



