<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="../public/style.css" />
  </head>
  <body>
    <h1>Welcome to the party <%= title %></h1>
    <a href="/menus">View All Menus</a>
    <a href="/menus/add">Add a New Menu</a>

    <img src="../public/wedding.jpg" alt="Stock Image" />
  </body>
</html>
